<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Piggy Bank</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar-light navbar-toggleable-md bg-light">
    <div class="row">
        <div class="col-sm-2">
            <img src="static/piggy.jpg" alt="Logo">
        </div>
        {% if 'username' in session %}
            <div class="col-sm">
                <a class="navbar-brand" href="/add-income">Add income</a>
                <a class="navbar-brand" href="/add-expense">Add expense</a>
                <a class="navbar-brand" href="/expenses">All expenses</a>
                <a class="navbar-brand" href="/incomes">All incomes</a>
                <a class="navbar-brand" href="/account_history">Account history</a>
            </div>
        {% endif %}
        {% if 'username' not in session %}
            <div class="col-sm float-right" >
                <form action="/login" method='POST' class="form-inline my-2 my-lg-0 float-right">
                    <input name="username" type="text" class="form-control mr-sm-2 float-right" aria-label="Username">
                    <input name="password" type="password" class="form-control mr-sm-2 float-right" aria-label="Password">
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Login</button>
                </form>
            </div>
        {% else %}
            <div class="col-sm-2 float-right">
                <form action="/logout" class="form-inline my-2 my-lg-0 float-right">
                    <div>{{ session.username }}</div>
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Logout</button>
                </form>
            </div>
        {% endif %}
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
