<!doctype html>
<html>
<head>
    <h2>{{ table['h2'] }}</h2>
</head>
<body>
    <a href="/add-expense"><img src="static/add.png" width="20"></a>
    <table>
        <tr>
            {% for key in table['table_keys'] %}
                <th> {{ table['table_head'][key] }}</th>
            {% endfor %}
            <th></th>
        </tr>
        {% for row in table['table_body'] %}
        <tr>
            {% for key in table['table_keys'] %}
                <td>{{ row[key] }}</td>
            {% endfor %}
            <td>
                <a href="/edit_expense/{{ row['id'] }}"><img src="static/edit.png" width="20"></a>
                <a href="/delete-expense/{{ row['id'] }}"><img src="static/delete.png" width="20"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
