{% extends 'header.html' %}
{% block content %}

{% if alert %}
<p>{{ alert }}</p><br>
{% endif %}

<div>
    <form method="post" action="/registration">
        <input name="name" type="text" placeholder="Name"><br>
        <input name="username" type="text" placeholder="Username"><br>
        <input name="password" type="text" placeholder="Password"><br>
        <input name="verify_password" type="text" placeholder="Repeat Password"><br>
        <input name="email" type="text" placeholder="E-mail"><br>
        <button type="submit" >Submit</button>
    </form>
</div>
{% endblock %}